!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class='ie6' lang='en'> 
/[if IE 7 ] <html class='ie7' lang='en'>
/[if IE 8 ] <html class='ie8' lang='en'>
<!--[if (gte IE 9)|!(IE)]><!-->
%html{lang: 'en'}
  <!--<![endif]-->
  
  %head
    %title New Grunt Project
    %link{href: 'stylesheets/main.css', rel: 'stylesheet'}
  %body#test-env
{{body}}  
    / build:js(vendor/) lib.js
    %script{src: 'bower_components/jquery/jquery.min.js'}
    %script{src: 'bower_components/handlebars/handlebars.js'}
    / endbuild
    / will be packaged
    %script{src: 'javascripts/app.js'}
    %script{src: 'javascripts/handlebars-templates.js'}
    / staging
    %script{src: 'javascripts/init.js'}
    / live reload
    %script{src: 'http://localhost:35729/livereload.js'}

